/* Diseño de catalogo */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
*{
    margin: 0%;
    border: 0;
    padding: 0%;
    font-family: "Kanit", sans-serif;
}

.pizza-info{
    padding-bottom: 2%;
    background-color: rgb(110, 17, 5);

    color:aliceblue;
    border-radius: 100px;
    font-weight: 100;
    font-size: 10px;
}

h1{
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h3{
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fila{
    width: 90%;
    margin-inline: auto;

}

.pizzas{
    display: grid;
    position: relative;
    grid-template-rows: auto lfr;
    border-radius: 15px;

}

.pizzas img{
    position: relative;
    width:100%
}