*{
    margin: 0%;
    border: 0;
    padding: 0%;
    font-family: Arial, sans-serif;
}

body{
    background-color: #880505d3;
}

.pizza-info{
    padding-bottom: 2%;
    background-color: rgb(235, 235, 235);
    color:aliceblue;
    border-radius: 100px;
    font-weight: 100;
    font-size: 10px;
}

.titulo1{

    padding: 6% 0;
    color:aliceblue;
    margin-bottom: 10px;
    padding: 6% 0;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

h3{
    width: 90%;
    color: aliceblue;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fila{
    width: 90%;
    margin-inline: auto;

}

.pizzas{
    text-align: center;
    padding-bottom: 10%;
    background-color: rgb(54, 0, 0);
    color:aliceblue;
    border-radius: 10px;
    font-weight: 20px;
    font-size: 26px;
    margin: 10px ;
}

.pizzas img{
    position: relative;
    width:30%;
    border-radius: 30px 30px 30px 30px;
}

button{
    background-color: #971b1b;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    cursor: pointer;
}

