<!-- 
eliminar producto
agregar productos = redirect al catalogo
boton confimar compra = redirect a COMPRA
boton de confirmar compra redirect a catalogo -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Carrito de Compras</h1>
<table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Envío<th>
                <th>Subtotal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>               
                 {% for pizza in pizzas %}
                    <tr>
                        <td>{{pizza.0}}</td>
                        <td>{{pizza.1}}</td>
                        <td>{{pizza.2}}</td>
                        <td>{{pizza.3}}</td>
                        <td>
                            <button>
                            <a href="/edit/{{cliente.0}}">Editar</a>
                            </button>
                {% endfor %}
            </tbody>
    </table>
</div>

<button>
    <a href="/Realizar pago">Agregar producto</a>    
</button>

    
</body>
</html>
