<!-- Lista de productos  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylecat.css">
    <title>catalogo</title>
</head>
<body>
    <div class="encabezado"> 
        <div class="titulo1">
            <h3>NUESTRAS PIZZAS</h3>
        </div>
    </div>
    <section class="contenido">
        <div class="mostrador" id="mostrador">
            <div class="fila">
                <div class="item">
                    <div class="imagen">
                        <img src="imagenesPizzeria/mozzarella.jpeg">
                        <p class="descripcion"> Mozzarella</p>
                    </div>
                    <button> Agregar al carrito </button>
                </div>
                <div class="item">
                    <div class="imagen">
                        <img src="imagenesPizzeria/especial.jpeg">
                        <p class="descripcion" > Especial</p>
                        <button> Agregar al carrito </button>
                    </div>
                </div>
                <div class="item">
                    <div class="imagen">
                        <img src="imagenesPizzeria/capresse.jpeg">
                        <p class="descripcion" > Capresse</p>
                        <button> Agregar al carrito </button>
                    </div>
                </div>
                <div class="item">
                    <div class="imagen">
                        <img src="imagenesPizzeria/fugazza.jpeg">
                        <p class="descripcion" > Fugazzeta</p>
                        <button> Agregar al carrito </button>
                    </div>
                </div>
                <div class="item">
                    <div class="imagen">
                        <img src="imagenesPizzeria/mozzarella.jpeg">
                        <p class="descripcion" > Napolitana</p>
                        <button> Agregar al carrito </button>
                    </div>
                </div>
                <div class="item">
                    <div class="imagen">
                        <img src="imagenesPizzeria/cuatroQuesos.jpeg">
                        <p class="descripcion" > 4 Quesos</p>
                        <button> Agregar al carrito </button>
                    </div>
                </div>
                <div class="item">
                    <div class="imagen">
                        <img src="imagenesPizzeria/champignon.jpeg">
                        <p class="descripcion" > Champiñones</p>
                        <button> Agregar al carrito </button>
                    </div>
                </div>
                <div class="item">
                    <div class="imagen">
                        <img src="imagenesPizzeria/mozzarella.jpeg">
                        <p class="descripcion" > Roquefort</p>
                        <button> Agregar al carrito </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>
