<!-- Lista de productos  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylecat.css">
    <title>catalogo</title>
</head>
<body>
    <div class="encabezado"> 
        <div class="titulo1">
            <h3>NUESTRAS PIZZAS</h3>
        </div>
    </div>
    <section class="contenido">
            <div class="fila">
                <article class="pizzas">
                        <img src="imagenesPizzeria/muzzarella.jpg">
                        <h1> Muzzarella </h1>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laborum placeat consequuntur praesentium facere ea libero. Vitae beatae natus rem laborum id, aspernatur recusandae officia distinctio illum consequuntur, laudantium voluptate.</p>
                        <p> $1000</p>
                        <div class="pizza-info">
                            <button> AGREGAR AL CARRITO </button>
                        </div>
                        
                </article>
                <article class="pizzas">
                        <img src="imagenesPizzeria/especial.jpg">
                        <h1> Especial </h1>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laborum placeat consequuntur praesentium facere ea libero. Vitae beatae natus rem laborum id, aspernatur recusandae officia distinctio illum consequuntur, laudantium voluptate.</p>
                        <p> $1000</p>
                        <div class="pizza-info">
                            <button> AGREGAR AL CARRITO </button>
                        </div>
                </article>
                <article class="pizzas">
                        <img src="imagenesPizzeria/capresse.jpg">
                        <h1> Capresse </h1>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laborum placeat consequuntur praesentium facere ea libero. Vitae beatae natus rem laborum id, aspernatur recusandae officia distinctio illum consequuntur, laudantium voluptate.</p>
                        <p> $1000</p>
                        <div class="pizza-info">
                            <button> AGREGAR AL CARRITO </button>
                        </div>
                </article>
                <article class="pizzas">
                        <img src="imagenesPizzeria/fugazza.jpg">
                        <h1> Fugazzeta </h1>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laborum placeat consequuntur praesentium facere ea libero. Vitae beatae natus rem laborum id, aspernatur recusandae officia distinctio illum consequuntur, laudantium voluptate.</p>
                        <p> $1000</p>
                        <div class="pizza-info">
                            <button> AGREGAR AL CARRITO </button>
                        </div>
                </article>
                <article class="pizzas">
                        <img src="imagenesPizzeria/napolitana.jpeg">
                        <h1> Napolitana </h1>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laborum placeat consequuntur praesentium facere ea libero. Vitae beatae natus rem laborum id, aspernatur recusandae officia distinctio illum consequuntur, laudantium voluptate.</p>
                        <p> $1000</p>
                        <div class="pizza-info">
                            <button> AGREGAR AL CARRITO </button>
                        </div>
                </article>
                <article class="pizzas">
                        <img src="imagenesPizzeria/cuatroQ.jpg">
                        <h1>4 Quesos </h1>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laborum placeat consequuntur praesentium facere ea libero. Vitae beatae natus rem laborum id, aspernatur recusandae officia distinctio illum consequuntur, laudantium voluptate.</p>
                        <p> $1000</p>
                        <div class="pizza-info">
                            <button> AGREGAR AL CARRITO </button>
                        </div>
                </article>
                <article class="pizzas">
                        <img src="imagenesPizzeria/champiñon.jpg">
                        <h1> Champiñones </h1>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laborum placeat consequuntur praesentium facere ea libero. Vitae beatae natus rem laborum id, aspernatur recusandae officia distinctio illum consequuntur, laudantium voluptate.</p>
                        <p> $1000</p>
                        <div class="pizza-info">
                            <button> AGREGAR AL CARRITO </button>
                        </div>
                </article>
                <article class="pizzas">
                        <img src="imagenesPizzeria/roquefort.jpg">
                        <h1> Roquefort </h1>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laborum placeat consequuntur praesentium facere ea libero. Vitae beatae natus rem laborum id, aspernatur recusandae officia distinctio illum consequuntur, laudantium voluptate.</p>
                        <p> $1000</p>
                        <div class="pizza-info">
                            <button> AGREGAR AL CARRITO </button>
                        </div>
                </article>
            </div>
    </section>
    
</body>
</html>
